/* Estilos para la imagen */
.imagen-destacada {
    max-width: 100%;  /* Ajusta el ancho máximo de la imagen */
    border: 2px solid #3498db; /* Añade un borde azul */
    margin: 10px; /* Añade márgenes alrededor de la imagen */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Añade una sombra suave */
  }
  